@keyframes show {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}
lbwt-dialog{
    width: 100%;
    height: fit-content;
    top: 0;
    position: fixed!important;
    left: 0;
    z-index: 2000000002;
    background-color: transparent!important;
    animation: show 0.04s linear;
}
lbwt-dialog .dialog-panner{
    opacity: 0.4;
    background-color: lightgrey;
    z-index: 2000000003;
    width: 100vw;
    height: 100vh!important;
    height: fit-content;
    position: fixed;
}
lbwt-dialog .dialog-main{
    z-index: 2000000004;
    height: fit-content;
    width: 91%;
    position: absolute!important;
    margin: 2% 3% 3% 3%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 10px;
    overflow: auto;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
}
lbwt-dialog .dialog-main .dialog-header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 10%;
    margin-bottom: 10px;
}
lbwt-dialog .dialog-main .dialog-header .dialog-title{
    font-size: 1.5em;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
}
lbwt-dialog .dialog-main .dialog-header .dialog-title .applicable-date{
    position: relative;
    width: 0px;
    height: 0px;
    margin-left: -13px;
    margin-top: 10px;
    cursor: pointer;
    border: 0;
}
lbwt-dialog .dialog-main .dialog-header .dialog-title .applicable-date-label{
    margin-left: 15px;
    color: var(--primary);
}
lbwt-dialog .dialog-main .dialog-header .dialog-title .applicable-date-label:hover{
    color: orange;
    cursor: pointer;
}
lbwt-dialog .dialog-main .dialog-header .dialog-close{
    font-size: 1.5em;
    color: gray;
    cursor: pointer;
}
lbwt-dialog .dialog-main .dialog-header .dialog-close:hover{
    color: black;
}
lbwt-dialog .dialog-main .error-content{
    color: red;
}
lbwt-dialog .dialog-main .dialog-content{
    margin-bottom: 25px;
}
lbwt-dialog .dialog-main .dialog-content .dialog-task-content{
    display: flex;
    flex-flow: column;
    width: 100%;
    position: relative;
}
lbwt-dialog .dialog-main .dialog-content .dialog-task-content h2{
    font-size: 1.5em;
}
lbwt-dialog .dialog-main .dialog-content .dialog-task-content .dialog-task-search-bar{
    width: 100%;
}
lbwt-dialog .dialog-main .dialog-content .dialog-task-content .log-range{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
}
lbwt-dialog .dialog-main .dialog-content .dialog-task-content .log-range svg{
    font-size: 1.5em;
    color: var(--primary);
    margin: 0px 10px;
}
lbwt-dialog .dialog-main .dialog-content .dialog-task-content textarea{
    font-size: 1.1em;
}
lbwt-dialog button{
    font-weight: 500!important;
}
.dialog-log-compare {
    display: flex;
    flex-flow: column;
    width: 100%;
    padding: 3%;
}
.dialog-log-compare .item {
    display: flex;
    flex-flow: column;
    width: 94%;
}
.dialog-log-compare .item h3{
    font-size: 1.2em;
    font-weight: 700;
    color: var(--primary);
    margin: 0px;
}
.dialog-log-compare .item .section{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}
.dialog-log-compare .item .section p{
    width: 40%;
    white-space: break-spaces;
}
.dialog-log-compare .item .section i,
.dialog-log-compare .item .section svg{
    width: 20%;
}