
lbwt .log-report .space-segment.log-history-navigator {
    display: flex;
    flex-flow: column;
    margin-left: 10px;
    margin-top: 10px;
    width: 96%;
}

lbwt .log-report .space-segment.log-history-navigator .log-history-navigator-title {
    font-weight: 700;
    font-size: 1.5em;
    margin-bottom: 5px;
    color: var(--primary);
}

lbwt .log-report .space-segment.log-history-navigator .log-history-navigator-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

lbwt .log-report .space-segment.log-history-navigator .log-history-navigator-action .total {
    margin-left: 2px;
    font-size: 1.5em;
    display: flex;
    width: 8%;
    justify-content: center;
}

lbwt .log-report .space-segment.log-history-navigator .log-history-navigator-action .history-search {
    display: flex;
    align-items: center;
    width: 30%;
    margin-left: 5px;
}

lbwt .log-report .space-segment.log-history-navigator .log-history-navigator-action .history-search .history-search-icon {
    position: absolute;
    color: var(--primary);
    margin-left: 5px;
}


lbwt .log-report .space-segment.log-history-navigator .log-history-navigator-action .total {
    font-weight: 700;
}

lbwt .log-report .space-segment.log-history-navigator .log-history-navigator-action .duration-description {
    margin-left: 10px;
    width: 10%;
    display: flex;
    justify-content: space-around;
    font-size: 1.2em;
}

lbwt .log-report .space-segment.log-history-navigator .log-history-navigator-action .duration-description svg {
    width: 0.4em;
    color: lightgray;
}

lbwt .log-report .space-segment.log-history-navigator .log-history-navigator-action .duration-description:hover {
    color: orange;
    cursor: pointer;
}

lbwt .log-report .space-segment.log-history-navigator .log-history-navigator-action.unexported .total {
    font-size: 1.2em;
    font-weight: 400;
}

lbwt .log-report .space-segment.log-history-navigator .log-history-navigator-action.unexported .duration-description {
    font-size: 1.5em;
    font-weight: 700;
}

lbwt .log-report .space-segment.log-history-navigator .log-history-navigator-action.unexported .total:hover {
    color: orange;
    cursor: pointer;
}

lbwt .log-report .space-segment.log-history-navigator .log-history-navigator-action.unexported .duration-description:hover {
    color: unset;
    cursor: unset;
}

lbwt .log-report .space-segment.log-history-navigator .log-history-navigator-action .pin-action {
    color: var(--primary);
    font-size: 1.2em;
}

lbwt .log-report .space-segment.log-history-navigator .log-history-navigator-action .pin-action span:hover {
    cursor: pointer;
    color: orange;
}

lbwt .log-report .space-segment.log-history-navigator .log-history-navigator-action .pin-action.pinned {
    color: var(--secondary);
    transform: rotateZ(45deg);
}

lbwt .log-report .space-segment.log-history-navigator .log-history-navigator-action .log-history-navigator-input {
    width: 100%;
    border: solid 1px transparent;
    font-size: 0.9em;
    padding-right: 5px;
    padding-left: 20px;
}

lbwt .log-report .space-segment.log-history-navigator .log-history-navigator-action .history-date-range{
    width: 30%;
    display: flex;
    align-items: center;
}


lbwt .log-report .space-segment.log-history-navigator .log-history-navigator-action .history-date-range .log-history-navigator-input:hover {
    border: solid 1px lightgray;
}

lbwt .log-report .space-segment.log-history-navigator .log-history-navigator-action .history-date-range .log-history-navigator-input.search {
    width: 28%;
    border: solid 1px transparent;
    font-size: 1em;
}

lbwt .log-report .space-segment.log-history-navigator .log-history-navigator-action .history-date-range .filter-icon {
    position: absolute;
    color: var(--primary);
    margin-left: 5px;
}

lbwt .log-report .space-segment.log-history-navigator .log-history-navigator-action .history-date-range .filter-icon svg {
    width: 1em;
    height: 1em;
}

lbwt .log-report .space-segment.log-history-navigator .log-history-navigator-action .history-search .log-history-navigator-input {
    width: 100%;
    padding-left: 20px;
}

lbwt .log-report .space-segment.log-history-navigator .log-history-navigator-action .history-search-detail {
    color: var(--primary);
    font-size: 1.3em;
    cursor: pointer;
    margin-left: 3px;
    margin-right: 2px;
}

lbwt .log-report .space-segment.log-history-navigator .log-history-navigator-action .history-search-detail:hover {
    color: orange;
}

lbwt .log-report .space-segment.log-history {
    margin-top: 5px;
    width: 96%;
    margin-left: 2%;
}

lbwt .log-report .space-segment.log-history .log-group {
    background-color: #e5f5fd;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #c6d2d9;
}

lbwt .log-report .space-segment.log-history .log-group .log-heading {
    font-size: 1.2em;
    width: 96%;
    color: #4e4e4e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
}

lbwt .log-report .space-segment.log-history .log-group .log-heading .log-heading-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

lbwt .log-report .space-segment.log-history .log-group .log-heading .log-heading-title .log-date-export {
    color: var(--primary);
    margin-left: 10px;
    opacity: 0.7;
    transition: linear 0.2s;
    visibility: hidden;
    cursor: pointer;
}

lbwt .log-report .space-segment.log-history .log-group .log-heading:hover .log-heading-title .log-date-export {
    color: var(--primary);
    margin-left: 10px;
    opacity: 1;
    visibility: visible;
}

lbwt .log-report .space-segment.log-history .log-group .log-heading .log-heading-title .fold-config {
    color: var(--primary);
    margin-left: 10px;
    opacity: 0.7;
    transition: linear 0.2s;
    visibility: hidden;
    cursor: pointer;
    font-size: 0.8em;
    font-style: normal;
}

lbwt .log-report .space-segment.log-history .log-group .log-heading:hover .log-heading-title .fold-config {
    color: var(--primary);
    margin-left: 10px;
    opacity: 1;
    visibility: visible;
}

lbwt .log-report .space-segment.log-history .log-group .log-heading .total-duration {
    font-weight: 600;
    color: black;
    font-size: 1.1em;
}

lbwt .log-report .space-segment.log-history .log-group .log-segment {
    width: 100%;
}

lbwt .log-report .space-segment.log-history .log-group .log-segment .project{
    width: 100%;
    margin-top: 2px;
}

lbwt .log-report .space-segment.log-history .log-group .log-segment .project-logs{
    width: 100%;
    /* display: flex; */
    overflow: hidden;
    display: inline-block;
}
lbwt .log-report .space-segment.log-history .log-group .log-segment .project-title{
    width: 97%;
    background-color: lightgray;
    padding-left: 1%;
    font-size: 1.2em;
    font-style: italic;
    font-weight: 700;
    color: var(--primary);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2%;
    height: 1.5em;
}
lbwt .log-report .space-segment.log-history .log-group .log-segment .project-title:hover{
    color: orange;
}

lbwt .log-report .space-segment.log-history .log-group .log-segment .project-title .project-display{
    display: flex;
    width: 92%;
    align-items: center;
}

lbwt .log-report .space-segment.log-history .log-group .log-segment .project-title .host-log{
    height: 12px;
    background-color: transparent;
    width: auto;
    margin-right: 2%;
    min-width: 40px;
    display: flex;
    justify-content: center;
}

lbwt .log-report .space-segment.log-history .log-group .log-segment .log {
    display: inline-block;
    width: 100%;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: white;
    border-bottom: 1px solid #c6d2d9;
    margin-top: 5p;
    padding-top: 6px;
}

lbwt .log-report .space-segment.log-history .log-group .log-segment .log .log-title {
    display: flex;
    font-size: 1.1em;
    max-width: inherit;
    color: var(--primary);
}

lbwt .log-report .space-segment.log-history .log-group .log-segment .log .log-title .log-title-heading {
    display: flex;
    align-items: center;
    width: 115px;
    justify-content: space-around;
}

lbwt .log-report .space-segment.log-history .log-group .log-segment .log .log-title .log-title-heading .issue-type-url {
    margin-left: 2px;
    margin-right: 2px;
}

lbwt .log-report .space-segment.log-history .log-group .log-segment .log .log-title .log-title-heading .log-issue-export {
    visibility: hidden;
    opacity: 0.7;
    transition: linear 0.2s;
    cursor: pointer;
    padding: 1px;
}

lbwt .log-report .space-segment.log-history .log-group .log-segment .log .log-title:hover .log-title-heading .log-issue-export {
    visibility: visible;
    opacity: 1;
}

lbwt .log-report .space-segment.log-history .log-group .log-segment .log .log-title .log-issue {
    text-align: left;
    padding-left: 5px;
    font-size: 1.1em;
    font-weight: 700;
    color: var(--primary);
    cursor: pointer;
    height: max-content;
    display: block;
    padding: 0px;
}

lbwt .log-report .space-segment.log-history .log-group .log-segment .log .log-title .log-display-name {
    width: 475px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1.15em;
}

lbwt .log-report .space-segment.log-history .log-group .log-segment .log .log-title .log-issue:hover {
    color: var(--secondary);
}

lbwt .log-report .space-segment.log-history .log-group .log-segment .log .log-each {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: grey;
    margin-bottom: 2px;
}

lbwt .log-report .space-segment.log-history .log-group .log-segment .log .log-each .log-duration {
    width: 10%;
    margin-left: 5px;
    border: none;
    overflow: hidden;
    background-color: transparent;
    border: solid 1px transparent;
    font-size: 1.1em;
    text-align: right;
    padding: .3em .5rem;
    color: gray;
}

lbwt .log-report .space-segment.log-history .log-group .log-segment .log .log-each:hover .log-duration {
    border: solid 1px lightgray;
}

lbwt .log-report .space-segment.log-history .log-group .log-segment .log .log-each .log-description {
    width: 60%;
    height: 20px;
    border: none;
    background-color: transparent;
    border: solid 1px transparent;
    font-size: 1.1em;
    padding: .3rem .5rem;
    color: gray;
}

lbwt .log-report .space-segment.log-history .log-group .log-segment .log .log-each:hover .log-description {
    border: solid 1px lightgray;
}

lbwt .log-report .space-segment.log-history .log-group .log-segment .log .log-each .action-log-delete {
    width: 2%;
    opacity: 0;
    color: red;
    margin-left: 3px;
    margin-right: 2px;
    transition: linear 0.25s;
    font-weight: 700;
    font-size: 1.2em;
}

lbwt .log-report .space-segment.log-history .log-group .log-segment .log .log-each:hover .action-log-delete {
    opacity: 1;
    cursor: pointer;
}

lbwt .log-report .space-segment.log-history .log-group .log-segment .log .log-each .wl-circle-decorator {
    font-size: 0.5em;
    color: var(--primary);
    height: 20px;
    margin: 0px 5px;
    cursor: pointer;
    display: inline-block;
    display: flex;
    align-items: center;
    position: relative;
    color: gray
}

lbwt .log-report .space-segment.log-history .log-group .log-segment .log .log-each .wl-circle-decorator svg {
    width: 1.3em;
    height: 100%;
}

lbwt .log-report .space-segment.log-history .log-group .log-segment .log .log-each .wl-circle-decorator .fa-ellipsis-vertical {
    position: absolute;
    transition: linear 0.12s;
    height: 75%;
    opacity: 0;
}

lbwt .log-report .space-segment.log-history .log-group .log-segment .log .log-each:hover .wl-circle-decorator .fa-ellipsis-vertical {
    opacity: 1;
    height: 100%;
}

lbwt .log-report .space-segment.log-history .log-group .log-segment .log .log-each .wl-circle-decorator .fa-ellipsis-vertical:hover {
    color: orange;
}

lbwt .log-report .space-segment.log-history .log-group .log-segment .log .log-each.unexported .wl-circle-decorator {
    color: lightgray;
}

lbwt .log-report .space-segment.log-history .log-group .log-segment .log .log-each .question-mark {
    color: var(--secondary);
    cursor: pointer;
    display: none;
}
lbwt .log-report .space-segment.log-history .log-group .log-segment .log .log-each:hover .question-mark {
    font-weight: 700;
    display: inline-block;
}
lbwt .log-report .space-segment.log-history .log-group .log-segment .log .log-each:hover .question-mark:hover {
    font-weight: 700;
    display: inline-block;
    color: orange;
}

.export-state-0 .wl-circle-decorator,
.export-state-0 .log-duration,
.export-state-0 .log-description
{
    color: gray!important;
}
lbwt .log-report .space-segment.log-history .log-group .log-segment .log .log-each.export-state-0:hover .question-mark{
    display: none;
}

.export-state-1 .wl-circle-decorator,
.export-state-1 .log-duration,
.export-state-1 .log-description
{
    color: var(--primary)!important;
}
lbwt .log-report .space-segment.log-history .log-group .log-segment .log .log-each.export-state-1:hover .question-mark{
    display: none;
}

.export-state-3 .wl-circle-decorator,
.export-state-3 .log-duration
{
    color: var(--primary)!important;
}

.export-state-5 .wl-circle-decorator,
.export-state-5 .log-description
{
    color: var(--primary)!important;
}

.export-state-7 .log-duration,
.export-state-7 .log-description
{
    color: var(--primary)!important;
}

.export-state-8 .wl-circle-decorator
{
    color: var(--primary)!important;
}

.export-state-10 .log-duration
{
    color: var(--primary)!important;
}

.export-state-12 .log-description
{
    color: var(--primary)!important;
}

.export-state-15 .log-duration,
.export-state-15 .log-description
{
    color: gray!important;
}
