.tm-icon-svg {
    display: unset;
    font-size: 1em !important;
    margin-right: 2px;
}

.tm-icon-svg svg {
    height: 1em;
}

.tm-icon-svg .svg .path {
    display: block;
    color: white;

}

html {
    scroll-behavior: smooth;
}
lbwt .done-line{
    /* text-decoration: line-through; */
    color: #00acb3;
}
lbwt svg{
    width: 1em;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.space-segment {
    width: 100%;
}

.main-page {
    min-width: 600px;
    --primary: rgb(4, 105, 105);
    --secondary: rgb(133, 0, 0);
    --third: rgb(131, 133, 12);
    padding: 10px;
    font-size: 12px;
    max-width: 600px;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-flow: column;
    color: black;
    font-weight: 400;
    background-color: #f5f5f5;
    display: inline-block;
    margin: -8px;
    min-height: 400px;
}
.d-none{
    display: none!important;
}
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.main-page * {
    display: inherit;
    position: unset;
    font-size: inherit;
    color: inherit;
    font-weight: inherit;
    background-color: inherit;
}

svg:not(:host).tm-svg-inline--fa,
svg:not(:root).tm-svg-inline--fa {
    overflow: visible;
    box-sizing: content-box;
}

.main-page *[aria-hidden="true"],
.main-page *[aria-hidden="1"] {
    display: unset !important;
}

.open {
    display: inline-block !important;
}

.tm-close {
    display: none !important;
}

.main-page .tm-form-control {
    display: block;
    margin: 0px;
    font-size: 13px;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.tm-form-control:focus {
    color: #212529;
    background-color: #fff;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(4, 146, 87, 0.25) !important;
}

.main-page b {
    font-weight: 600;
}

.open .tm-close,
.tm-close .open {
    display: inline-block !important;
}

.main-page .loading-layer {
    position: absolute;
    opacity: 0.6;
    background-color: lightgrey;
    min-width: inherit;
    height: inherit;
    z-index: 2017483647;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.main-page .loading-layer .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid var(--primary);
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

.main-page .error-layer {
    display: none;
}

.main-page .error-layer .error {
    color: red;
}

.show {
    display: inline-block;
}

.hide {
    display: none;
}

.aquacolor {
    color: var(--primary);
}

.btn.aquacolor {
    background-color: var(--primary);
    color: white;
}

.main-page .process-page {
    width: 100%;
}

.main-page .login-page input {
    font-size: 12px !important;
}

.main-page .login-page {
    width: 100%;
}

.main-page .login-page .main-login-page {
    max-width: 400px;
    display: flex;
    flex-flow: column;
    width: 100%;
}

.main-page .login-page .main-login-page .navigator {
    width: 100%;
}

.main-page .login-page .main-login-page .navigator div {
    width: 100%;
    margin-bottom: 10px;
}

.main-page .login-page .main-login-page .nagivator-button {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-page .login-page .main-login-page .nagivator-button button {
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
}

.main-page .login-page .main-login-page .nagivator-button button:focus {
    border-color: white;
}

.main-page .login-page .sign-in-tooltip {
    padding: 5px 5px;
    display: none;
}

.main-page .title {
    font-size: 1.5em;
    color: var(--primary);
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
    margin-right: 5px;
    position: relative;
}

.main-page .title .title-group {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.main-page .title .title-group .title-description {
    display: flex;
    flex-flow: column;
}

.main-page .title .pin-action {
    position: absolute;
    left: 50%;
}

.main-page .title .pin-action:hover {
    cursor: pointer;
    color: orange;
}

.content {
    display: flex;
    align-items: flex-end;

}

.main-page .title .content p {
    margin-top: 2px;
    margin-bottom: 2px;
}

.main-page .title .content:hover {
    color: orange;
    cursor: pointer;
}

.main-page .title .extend-tool {
    display: none;
}

.main-page .title .extend-tool:hover {
    color: orange;
    cursor: pointer;
}

.logged .main-page .title .extend-tool {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.logged .main-page .title .extend-tool .logged-name {
    margin-right: 3px;
}

.main-page .main-action-page {
    min-width: 600px;
    position: relative;
}

.main-page .main-action-page .issue-active {
    display: none;
    margin-bottom: 10px;
}

.main-page .main-action-page .issue-active .heading {
    padding: 2px 5px;
    font-size: 1.5em;
    color: var(--primary);
}

.main-page .main-action-page .issue-active .active-item-group {
    padding: 2px;
    width: 100%;
}


.main-page .main-action-page .issue-active .active-item-group .active-item .icon-group {
    width: 10%;
}

.main-page .main-action-page .issue-active .active-item-group .active-item .icon-group .tm-icon svg {
    transform: rotate(30deg);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-top: solid 4px var(--secondary);
    border-left: solid 4px var(--secondary);
}

.main-page .main-action-page .issue-active .active-item-group .active-item .issue-key {
    display: inline-block;
    width: max-content;
    white-space: nowrap;
    color: var(--primary);
    font-weight: 800;
    margin-right: 10px;
    cursor: pointer;
}
.main-page .main-action-page .issue-active .active-item-group .active-item .issue-key:hover{
    color: orange;
}

.main-page .main-action-page .issue-active .active-item-group .active-item .issue-name {
    width: 100%;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    max-width: 500px;
}

.main-page .main-action-page .issue-active .active-item-group .active-item .duration {
    width: 25%;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.main-page .main-action-page .issue-active .active-item-group .active-item {
    display: flex;
    align-items: center;
    margin-left: 10px;
    width: 100%;
    justify-content: space-between;
}

.main-page .main-action-page .issue-active .active-item-group .active-item .tm-icon {
    cursor: pointer;
    font-size: 1.2em;
    color: var(--secondary);
}

.main-page .main-action-page .issue-active .active-item-group .active-item .tm-icon svg:hover {
    color: orange;
    border-top: solid 4px orange;
    border-left: solid 4px orange;
}

.main-page .main-action-page .issue-active .active-item-group .active-item .tm-icon.stop {
    color: var(--secondary) !important;
}

.main-page .main-action-page .issue-active .active-item-group .active-item.start .tm-icon {
    color: var(--primary);
}

.main-page .main-action-page .acceptance-criteria {
    padding: 8px 2%;
    width: 96%;
}

.main-page .main-action-page .acceptance-criteria.open .space-segment {
    display: inline-block;
}

.main-page .main-action-page .acceptance-criteria .space-segment {
    display: none;
}

.main-page .main-action-page .acceptance-criteria .heading {
    padding: 2px 5px;
    font-size: 1.5em;
    color: var(--primary);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.main-page .main-action-page .acceptance-criteria .ac-content {
    display: flex;
    align-items: center;
    width: 100%;
    flex-flow: column;
    justify-content: space-between;
}

.main-page .main-action-page .acceptance-criteria .ac-content .ac-container {
    width: 100%;
    padding-top: 3px;
    padding-bottom: 5px;
    margin: 0px;
    display: block;
}

.main-page .main-action-page .acceptance-criteria .ac-content .ac-container .ac-segment {
    width: 100%;
    display: flex;
    align-items: center;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 2px;
}

.main-page .main-action-page .acceptance-criteria .ac-content .ac-container .ac-segment .tm-form-check {
    width: 100%;
    font-size: 1.2em;
    display: flex;
    padding-left: 1.5em;
    align-items: flex-start;
}

.main-page .main-action-page .acceptance-criteria .ac-content .ac-container .ac-segment .drag-object {
    color: lightgrey;
    cursor: pointer;
    padding-left: 10px;
    margin-top: 4px;
}

.main-page .main-action-page .acceptance-criteria .ac-content .ac-container .ac-segment .drag-object:hover {
    color: var(--primary);
}

.main-page .main-action-page .acceptance-criteria .ac-content .ac-container .ac-segment .tm-form-check-input {
    margin-right: 5px;
    margin-left: -1em;
    min-width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 3px;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgba(0, 0, 0, .25);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.dragging {
    background-color: white;
    position: fixed !important;
    z-index: 2017483647;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset !important;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dragging .drag-object {
    color: var(--primary) !important;
}

.clone-drag {
    display: inline;
    border: dashed 2px var(--primary);
}

.main-page .main-action-page .acceptance-criteria .ac-content .ac-container .ac-segment .tm-form-check-input:checked {
    background-color: var(--primary);
    border-color: var(--primary);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e")
}

.main-page .main-action-page .acceptance-criteria .ac-content .ac-container .ac-segment .tm-form-check-input:focus {
    border-color: var(--primary);
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(4, 146, 87, 0.25)
}

.main-page .main-action-page .acceptance-criteria .ac-content .ac-container.unsaved .tm-form-check-input {
    border: dashed 2px var(--primary);
}

.main-page .main-action-page .acceptance-criteria .ac-content .ac-container.unsaved .tm-form-check-input:checked {
    border-color: white;
}

.main-page .main-action-page .acceptance-criteria .ac-content .ac-container .ac-segment .tm-form-check-label {
    outline: none;
    width: 100%;
    margin-left: 10px;
    cursor: pointer;
    min-height: 30px;
    line-height: 20px;
    text-align: left;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 3px;
    display: block;
    white-space: pre-wrap;
}

.main-page .main-action-page .acceptance-criteria .ac-content .ac-container .ac-segment .tm-form-check-label text {
    display: contents;
    white-space: pre-wrap;
}

.main-page .main-action-page .acceptance-criteria .ac-content .ac-container .ac-segment .tm-form-check-label * {
    display: contents;
    border-left: none;
    white-space: pre-wrap;
}
.main-page .main-action-page .acceptance-criteria .ac-content .ac-container .ac-segment .tm-form-check-label br{
    display: inline;
}

.main-page .main-action-page .acceptance-criteria .ac-content .ac-container.header .ac-segment .tm-form-check {
    width: 100%;
    font-size: 1.3em;
    display: flex;
    align-items: center;
    justify-items: left;
    padding-left: 0px;
}

.main-page .main-action-page .acceptance-criteria .ac-content .ac-container.header .ac-segment .tm-form-check-input {
    display: none;
}

.main-page .main-action-page .acceptance-criteria .ac-content .ac-container.unsaved.header .tm-form-check-label {
    border-left: solid 2px var(--primary);
}


.main-page .main-action-page .acceptance-criteria .ac-content .ac-container .ac-segment .tm-form-check-label.editing {
    border-bottom: solid 1px lightgray;
}

.main-page .main-action-page .acceptance-criteria .ac-content .ac-container.initial .ac-segment .tm-form-check-label {
    padding-left: 10px;
    font-weight: 400;
    border-bottom: solid 1px lightgray;
    outline: none;
}

.main-page .main-action-page .acceptance-criteria .ac-content .ac-container.initial .ac-segment .tm-form-check-label * {
    display: inline-block;
}

.main-page .main-action-page .issue {
    padding: 5px 0px 10px 0px;
}

.main-page .main-action-page .issue input,
.main-page .main-action-page .issue textarea {
    font-size: 12px;
}

.main-page .main-action-page .issue .input-group {
    display: flex;
    flex-flow: row;
    margin-bottom: 0px;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.main-page .main-action-page .issue .input-group .icon-prepend{ 
    position: absolute;
    top: 9px;
}

.main-page .main-action-page .issue .input-group .issue-type {
    position: absolute;
    left: 25px;
}

.main-page .main-action-page .issue .input-group .input-s-issue {
    font-size: 15px;
    padding-left: 45px;
    height: 30px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 15px !important;
}

.main-page .main-action-page .issue .input-group .input-s-issue:focus {
    box-shadow: rgba(4, 146, 87, 0.4) 0px 3px 15px !important;
}

.main-page .main-action-page .issue .input-group .issue-navigation {
    font-size: 2em;
    color: var(--primary);
    display: none;
    padding: 3px;
    position: absolute;
    right: 2px;
    background-color: white;
}

.main-page .main-action-page .issue .input-group .issue-navigation .navigation-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-page .main-action-page .issue .input-group .issue-navigation .navigation-group .issue-status {
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    display: inline-block;
    vertical-align: center;
    margin-right: 5px;
}

.main-page .main-action-page .issue .input-group .issue-navigation span {
    cursor: pointer;
}

.main-page .main-action-page .issue .input-group .issue-navigation span:hover {
    color: orange;
}

.main-page .main-action-page .issue.search-bar {
    width: 100%;
}

.main-page .main-action-page .issue.search-bar p {
    margin-bottom: 2px;
    padding: 2px 10px;
    cursor: pointer;
    margin-top: 0px;
    font-size: 1.1em;
}

.main-page .main-action-page .issue.search-bar p:hover,
.main-page .main-action-page .issue.search-bar p:focus-visible {
    background-color: var(--primary);
    color: white;
}

.main-page .main-action-page .issue.search-bar .search-bar-result {
    position: absolute;
    background-color: white;
    width: 98%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: grey;
    max-height: 70%;
    overflow-y: auto;
    z-index: 2017483647;
    display: none;
}

.main-page .main-action-page .issue.search-bar .search-bar-result p {
    display: flex;
    align-items: center;
}

.main-page .main-action-page .issue.search-bar .search-bar-result p img {
    margin-right: 3px;
}

.main-page .main-action-page .issue.search-bar .search-bar-result p span {
    max-width: 75%;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.main-page .main-action-page .issue.search-bar .search-bar-result p em {
    margin-left: auto;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}



.main-page .main-action-page .tm-tab {
    width: 100%;
    height: 30px;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    position: relative;
}

.main-page .main-action-page .tm-tab .tm-tab-background {
    height: 100%;
    width: 100%;
    position: absolute;
}

@keyframes tm-tab-left2right {
    from {
        right: 100%;
    }

    to {
        right: 0%;
    }
}

@keyframes tm-tab-right2left {
    from {
        left: 100%;
    }

    to {
        left: 0%;
    }
}

@keyframes tm-tab-middle {
    from {
        height: 0%;
    }

    to {
        height: 100%;
    }
}
@keyframes tm-tab-reset {
    from {
        height: 100%;
    }

    to {
        height: 0%;
    }
}

.main-page .main-action-page .tm-tab.left .tm-tab-background {
    right: 0%;
    animation: tm-tab-left2right 0.3s;
    background-image: linear-gradient(to right, var(--primary) 80%, white);
}

.main-page .main-action-page .tm-tab.right .tm-tab-background {
    left: 0%;
    animation: tm-tab-right2left 0.3s;
    background-image: linear-gradient(to left, var(--primary) 80%, white);
}
.main-page .main-action-page .tm-tab.middle .tm-tab-background {
    animation: tm-tab-middle 0.2s;
    background-image: linear-gradient(to left, white, var(--primary) 25%, var(--primary) 75%, white);
}

.main-page .main-action-page .tm-tab .tm-tab-action {
    min-width: 24%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    font-weight: 600;
    background-color: #f5f5f5;
    cursor: pointer;
    color: var(--primary);
    font-size: 1.1em;
    margin-bottom: 3px;
    padding: 3px 3px 0px 3px;
}

.main-page .main-action-page .tm-tab .tm-tab-action.tm-active {
    border-bottom: none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 0px 0px 3px 0px;
    margin: 3px 3px 0px 3px;
    background-color: #ffffff;
}

.main-page .main-action-page .tm-tab-content {
    width: 100%;
    height: fit-content;
    background-color: white;
    border-top: unset;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    min-height: 200px;
}

.main-page .main-action-page .tm-tab-content .clock-segment{
    padding: 2%;
    width: 96%;
}

.main-page .main-action-page .issue.time-log {
    width: 100%;
    margin-top: 10px;
    /* padding: 2% 2% 0px 2%; */
}

.main-page .main-action-page .issue.time-log .space-segment .comment {
    width: 100%;
}

.main-page .main-action-page .issue.time-log .space-segment .comment textarea {
    width: 92%;
}

.main-page .main-action-page .issue.time-log.open .space-segment {
    display: inline-block;
}

.main-page .main-action-page .issue.time-log .space-segment {
    display: none;
}

.main-page .main-action-page .issue.time-log .space-segment .issue-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-page .main-action-page .log-report .space-segment.log-history-navigator{
    display: flex;
    flex-flow: column;
    margin-left: 10px;
    margin-top: 10px;
    width: 96%;
}

.main-page .main-action-page .log-report .space-segment.log-history-navigator .log-history-navigator-title{
    font-weight: 700;
    font-size: 1.5em;
    margin-bottom: 5px;
    color: var(--primary);
}
.main-page .main-action-page .log-report .space-segment.log-history-navigator .log-history-navigator-action{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-page .main-action-page .log-report .space-segment.log-history-navigator .log-history-navigator-action .filter-icon{
    position: absolute;
    font-size: 1.2em;
    color: var(--primary);
    margin-left: 5px;
}
.main-page .main-action-page .log-report .space-segment.log-history-navigator .log-history-navigator-action .filter-icon svg{
    width: 1em;
    height: 1em;
}
.main-page .main-action-page .log-report .space-segment.log-history-navigator .log-history-navigator-action .total{
    width: 17%;
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
}
.main-page .main-action-page .log-report .space-segment.log-history-navigator .log-history-navigator-action .total div{
    font-weight: 700;
}

.main-page .main-action-page .log-report .space-segment.log-history-navigator .log-history-navigator-input{
    width: 40%;
    border: solid 1px transparent;
    font-size: 1.3em;
    padding-left: 25px;
}

.main-page .main-action-page .log-report .space-segment.log-history-navigator .log-history-navigator-input:hover{
    border: solid 1px lightgray;
}

.main-page .main-action-page .log-report .space-segment.log-history{
    margin-top: 5px;
    width: 96%;
    margin-left: 2%;
}

.main-page .main-action-page .log-report .space-segment.log-history .log-group{
    background-color: #e5f5fd;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #c6d2d9;
}
.main-page .main-action-page .log-report .space-segment.log-history .log-group .log-heading{
    font-size: 1.2em;
    width: 96%;
    color: #4e4e4e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
}
.main-page .main-action-page .log-report .space-segment.log-history .log-group .log-heading .log-heading-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-page .main-action-page .log-report .space-segment.log-history .log-group .log-heading .log-heading-title .log-date-export{
    color: var(--primary);
    margin-left: 10px;
    opacity: 0.7;
    transition: linear 0.2s;
    visibility: hidden;
    cursor: pointer;
}
.main-page .main-action-page .log-report .space-segment.log-history .log-group .log-heading:hover .log-heading-title .log-date-export{
    color: var(--primary);
    margin-left: 10px;
    opacity: 1;
    visibility: visible;
}
.main-page .main-action-page .log-report .space-segment.log-history .log-group .log-heading .total-duration{
    font-weight: 600;
    color: black;
    font-size: 1.1em;
}

.main-page .main-action-page .log-report .space-segment.log-history .log-group .log-segment{
    width: 100%;
}

.main-page .main-action-page .log-report .space-segment.log-history .log-group .log-segment .log{    
    display: inline-block;
    width: 100%;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: white;
    border-bottom: 1px solid #c6d2d9;
    margin-top: 5p;
    padding-top: 6px;
}
.main-page .main-action-page .log-report .space-segment.log-history .log-group .log-segment .log .log-title{ 
    display: flex;
    font-size: 1.1em;
    max-width: inherit;
    color: var(--primary);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.main-page .main-action-page .log-report .space-segment.log-history .log-group .log-segment .log .log-title .log-title-heading{ 
    display: flex;
    align-items: center;
    width: 100px;
    justify-content: space-around;
}
.main-page .main-action-page .log-report .space-segment.log-history .log-group .log-segment .log .log-title .log-title-heading .log-issue-export{
    visibility: hidden;
    opacity: 0.7;
    transition: linear 0.2s;
    cursor: pointer;
}
.main-page .main-action-page .log-report .space-segment.log-history .log-group .log-segment .log .log-title:hover .log-title-heading .log-issue-export{
    visibility: visible;
    opacity: 1;
}

.main-page .main-action-page .log-report .space-segment.log-history .log-group .log-segment .log .log-title .log-issue{
    text-align: left;
    padding-left: 5px;
    font-size: 1.1em;
    font-weight: 700;
    color: var(--primary);
    cursor: pointer;
    height: max-content;
    display: block;
}
.main-page .main-action-page .log-report .space-segment.log-history .log-group .log-segment .log .log-title .log-display-name{
    width: 475px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1.15em;
}

.main-page .main-action-page .log-report .space-segment.log-history .log-group .log-segment .log .log-title .log-issue:hover{
    color: var(--secondary);
} 

.main-page .main-action-page .log-report .space-segment.log-history .log-group .log-segment .log .log-each{ 
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: grey;
    margin-bottom: 2px;
}

.main-page .main-action-page .log-report .space-segment.log-history .log-group .log-segment .log .log-each .log-duration{
    width: 10%;
    margin-left: 5px;
    border: none;
    overflow: hidden;
    background-color: transparent;
    border: solid 1px transparent;
    font-size: 1.1em;
    text-align: right;
    padding: .3em .5rem;
}

.main-page .main-action-page .log-report .space-segment.log-history .log-group .log-segment .log .log-each:hover .log-duration{
    border: solid 1px lightgray;
}

.main-page .main-action-page .log-report .space-segment.log-history .log-group .log-segment .log .log-each .log-description{
    width: 60%;
    height: 20px;
    border: none;
    background-color: transparent;
    border: solid 1px transparent;
    font-size: 1.1em;
    padding: .3rem .5rem;
}

.main-page .main-action-page .log-report .space-segment.log-history .log-group .log-segment .log .log-each:hover .log-description{
    border: solid 1px lightgray;
}

.main-page .main-action-page .log-report .space-segment.log-history .log-group .log-segment .log .log-each .action-log-delete{
    width: 2%;
    opacity: 0;
    color: red;
    margin-left: 3px;
    margin-right: 2px;
    transition: linear 0.25s;
    font-weight: 700;
    font-size: 1.2em;
}
.main-page .main-action-page .log-report .space-segment.log-history .log-group .log-segment .log .log-each:hover .action-log-delete {
    opacity: 1;
    cursor: pointer;
}

.main-page .main-action-page .log-report .space-segment.log-history .log-group .log-segment .log .log-each .wl-circle-decorator{
    font-size: 0.5em;
    color: var(--primary);
    padding-left: 5px;
    height: 20px;
    padding-right: 5px;
    cursor: pointer;
    display: inline-block;
    display: flex;
    align-items: center;
}

.main-page .main-action-page .log-report .space-segment.log-history .log-group .log-segment .log .log-each .wl-circle-decorator svg{
    width: 1.3em;
}

.main-page .main-action-page .log-report .space-segment.log-history .log-group .log-segment .log .log-each:hover .wl-circle-decorator{
    color: var(--primary);
}

.main-page .main-action-page .log-report .space-segment.log-history .log-group .log-segment .log .log-each.unexported .wl-circle-decorator {
    color: lightgray;
}

.main-page .main-action-page .issue.time-log .heading {
    padding: 2px 5px;
    font-size: 1.5em;
    color: var(--primary);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.main-page .main-action-page .issue.time-log .duration {
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-page .main-action-page .issue.time-log .duration div {
    display: flex;
    align-items: center;
}

.main-page .main-action-page .issue.time-log .duration div p {
    margin-bottom: 0px;
}

.main-page .main-action-page .issue.time-log .duration img {
    width: 50px;
    height: 50px;
}

.main-page .main-action-page .issue.time-log .duration .active-duration {
    font-style: italic;
}

.main-page .main-action-page .issue.time-log .duration .active-duration .avt:hover {
    color: orange;
}

.main-page .main-action-page .issue.time-log .duration span {
    font-size: 1.7em;
}

.main-page .main-action-page .issue.time-log .duration .total-duration {
    width: max-content;
}

.main-page .main-action-page .issue.time-log .duration .active-duration {
    width: max-content;
    margin-left: 5px;
}

.main-page .main-action-page .issue.time-log .duration .total-duration p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    align-items: center;
    width: fit-content;
}

.main-page .main-action-page .issue.time-log .duration .total-duration small {
    max-width: 25%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.main-page .main-action-page .issue.time-log .duration .avt {
    font-size: 2.5em;
    color: var(--primary);
    padding-right: 5px;
    cursor: pointer;
}

.main-page .main-action-page .issue.time-log .time-action {
    margin-bottom: 10px;
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-page .main-action-page .issue.time-log .time-action .manual-log {
    width: 50%;
    display: flex;
}

.main-page .main-action-page .issue.time-log .time-action .action-group {
    font-size: 1.5em;
    width: 50%;
    margin-left: 10px;
    color: var(--primary);
    display: flex;
    justify-content: space-between;
    height: 35px;
    position: relative;
    align-items: center;
}

.main-page .main-action-page .issue.time-log .time-action .action-group .action:hover {
    cursor: pointer;
    color: orange;
}
lbwt .page{
    position: absolute;
    z-index: 2017483647;
    top: 0;
    left: 0;
    width: 100%;
    max-width: inherit;
}
lbwt .page .input-segment{
    display: flex;
    justify-content:space-around;
    width: 90%;
    padding: 5%;
}
.button-31 {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

lbwt .btn {
    background-color: var(--primary);
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
    font-size: 16px;
    font-weight: 700;
    padding: 5px 20px 4px;
    position: relative;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    border: solid 3px transparent;
}
lbwt .btn:hover {
    opacity: 0.75;
}
lbwt .btn.btn-resume {
    background-color: #d9be48;
}
lbwt .btn.btn-pause {
    background-color: #597eaa;
}
lbwt .btn.btn-danger {
    background-color: #f44336;
}
lbwt .btn.btn-secondary {
    background-color: #ffffff;
    color: #c2c2c2;
}
lbwt .btn.btn-primary {
    background-color: #ffffff;
    color: var(--primary);
}
lbwt .btn.btn-primary:hover{
    box-shadow: none;
}
lbwt .btn.btn-highlight {
    background-color: #ffffff;
    color: rgb(219, 216, 0);
}
lbwt .btn.btn-highlight:hover{
    box-shadow: none;
}
lbwt .btn.btn-thin{
    padding: 3px;
}
lbwt .btn svg{
    width: 1em;
}



.main-page .main-action-page .issue.time-log .time-action .start-date-label {
    color: var(--primary);
    cursor: pointer;
    position: relative;
    left: -30px;
    margin: 1px 1px;
    font-size: 1.25em;
    display: flex;
    align-items: center;
    z-index: 20;
}

.main-page .main-action-page .issue.time-log .time-action .start-date {
    display: none;
    font-size: 0.5em;
}

.main-page .main-action-page .favorite-issues {
    width: 100%;
}

.main-page .main-action-page .favorite-content {
    display: flex;
    flex-flow: column;
    background-color:#f5f5f5;
}
.main-page .main-action-page .favorite-content .favorite-content-navigator {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    background-color:white;
}
.button-add-favorite{
    display: inline-block;
}
.button-remove-favorite{
    display: none;
}
.favorite .button-add-favorite{
    display: none;
}
.favorite .button-remove-favorite{
    display: unset;
}
.main-page .main-action-page .favorite-list{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    display: flex;
    flex-flow: column;
}
.main-page .main-action-page .favorite-list .favorite-issue{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 96%;
    padding: 5px 2% 5px 2%;
    border-bottom: solid 1px lightgray;
}
.main-page .main-action-page .favorite-list .favorite-issue .favorite-issue-key{
    font-weight: 700;
    color: var(--primary);
    font-size: 1.1em;
    cursor: pointer;
    width: fit-content;
    display: inline-block;
    width: 15%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.main-page .main-action-page .favorite-list .favorite-issue .favorite-issue-key:hover{
    color: orange;
}
.main-page .main-action-page .favorite-list .favorite-issue .favorite-issue-name{
    width: 80%;
    text-align: left;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}
.main-page .main-action-page .favorite-list .favorite-issue .favorite-issue-action{
    width: 5%;
}

.main-page .main-action-page .favorite-list .favorite-group{
    display: flex;
    flex-flow: column;
}

.main-page .main-action-page .favorite-list .favorite-group .favorite-group-title{
    font-size: 1.2em;
    font-weight: 900;
    color: var(--primary);
    margin-left: 5px;
}

.main-page .main-action-page .favorite-list .favorite-group .favorite-segment{
    display: flex;
    flex-flow: column;
    margin-top: 5px;
    background-color: #fefefe;
    margin-bottom: 5px;
}