.popup-container {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: fixed;
    right: 5px;
    top: 5px;
    background-color: #fefefe;
    z-index: 2000000000;
    color: black;
    font-size: 16px;
    font-family: var(--bs-font-sans-serif);
    --primary: rgb(4, 105, 105);
    --secondary: rgb(133, 0, 0);
    --third: rgb(18, 155, 18);
    width: fit-content;
    min-width: 400px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.popup-container *[aria-hidden="true"],
.popup-containe *[aria-hidden="1"] {
    display: unset !important;
}

.popup-container .drag-drop-header {
    padding: 1%;
    border-bottom: solid 1px lightgray;
    color: var(--primary);
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2.5px 5px;
    background-color: white;
    position: absolute;
    top: 0px;
    width: 98%;
}

.pin-html {
    display: flex;
    flex-flow: column;
}

.pin-html .tm-icon-svg {
    position: absolute;
    line-height: 25px;
}

.pin-html svg {
    line-height: 0.75em;
}

.pin-html .left2right, .pin-html .right2left{
    display: none;
}

@keyframes tm-left2right {
    from {
        left: 10%;
    }

    to {
        left: 70%;
    }
}

@keyframes tm-right2left {
    from {
        left: 70%;
    }

    to {
        left: 10%;
    }
}

.pin-html.pinned .sync{
    display: none;
}

.pin-html.pinned .left2right {
    display: inline-block;
    color: var(--primary);
    animation: tm-left2right 10s infinite linear;
}

.pin-html.pinned .right2left {
    display: inline-block;
    color: var(--secondary);
    animation: tm-right2left 10s infinite linear;
}

.popup-container .drag-drop-header div {
    cursor: pointer;
}

.popup-container .drag-drop-header svg:hover {
    color: orange;
}

.popup-container .drag-drop-header .drag-drop-icon {
    color: var(--primary);
}


.popup-container .drag-drop-header .tm-action-close {
    color: rgb(180, 2, 2);
}


.popup-container .t-popup-content {
    margin-top: 35px;
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 10px;
    resize: both;
    min-width: 600px;
    max-width: 800px;
    padding-left: 5px;
}

.popup-container .t-popup-content::-webkit-scrollbar {
    width: 5px;
}

.popup-container .t-popup-content::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.popup-container .t-popup-content::-webkit-scrollbar-thumb {
    background: #888;
}

.popup-container .t-popup-content::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.popup-container .main-page .main-action-page .issue.time-log .time-action .start-date {
    font-size: 0.5em;
    display: block;
    width: 0px;
    height: 0px;
    position: relative;
    margin-left: -53px;
    border: none;
    margin-top: 10px;
    box-shadow: none!important;
}
