.popup-main{
    left: 0;
    min-height: 20px;
    background-color: white;
    position: absolute;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.history-search-popup {
    width: 100%;
    font-size: 1em;
}

.history-search-popup table th{
    float: left;
    margin-right: 10px;
    width: fit-content;
}
