let { text, createBlock, list, multi, html, toggler, component, comment } = bdom;
// Template name: "__template__4"

let block1 = createBlock(`<div class="main-page" id="main-page" block-handler-0="authentication-sucess">
    <div class="title d-flex justify-content-between">
        <div class="content" id="server-open"><span><i class="fa-solid fa-clock" /></span> <span>Time Management</span>
            <p style="color: black;font-size:12px;margin-left: 5px;"> Powered by <a href="https://www.drakebui.ml"
                    target="_blank">Long Bui</a></p>
        </div>
        <div class="extend-tool" id="server-logout"><i class="fa-solid fa-power-off" /></div>
    </div>
    <div class="process-page" id="process-page">
        <block-child-0 />
        <block-child-1 />
    </div>
</div>`);

return function template(ctx, node, key = "") {
let b2,b3;
let hdlr1 = [ctx['_onAuthenticationSucess'], ctx];
if (ctx['state'].authentication) {
b2 = component(`Main`, {}, key + `__1`, node, ctx);
} else {
b3 = component(`Login`, {}, key + `__2`, node, ctx);
}
return block1([hdlr1], [b2, b3]);